<p>Discard Changes??</p>
<div style="text-align: center;">
    <button type="button" style="color: red;
                          outline: none;
                          border:none;
                          padding:0 50px;
                          background-color: transparent;"
                          (click)="yes()"
                          >Yes</button>
    <button type="submit" style="color: green;
                          outline: none;
                          border: none;
                          padding:0 50px;
                          background-color: transparent;"
                          (click)="No()"
                          >No</button>
</div>
