.trunc{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}
.trunc1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#trunc2:hover {
    background-color: brown;
}